@font-face {
  font-family: 'GizaStencil';
  src: url('../assets/giza_fonts/GizaStencil.woff2') format('woff2'),
      url('../assets/giza_fonts/GizaStencil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Global Colours */
:root {
    --black: #000000;
    --white: #ffffff;         /* Pure white for clean sections */
    --softlavender:  #F4EFFF; /* Soft lavender with a hint of purple for alternating sections*/
    --darkpurple: #7A3E9D;    /* Main purple for headings, buttons, or key elements */
    --lightpurple: #C084FC;    /* Lighter purple for accents or hover effect */
    --blue: #82DDF0;          /* Bright blue for calls-to-action, icons, or hover effects */
    --pink: #FF8FB1;          /* Vibrant pink for highlights, badges, or buttons */
    --translucent: #82def0c5;
    --darkgrey: #333333;      /* Dark gray for main text */
    --mutedgrey: #666666;     /* Muted gray for less prominent text */
    --softgrey: #E0E0E0;      /* Dark gray for main text*/
  }

/* Button Styling */
/* Adapted From Uiverse.io by SujitAdroja */ 
.btn {
  color: var(--black);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--blue);
  border-radius: 20px;
  margin-top: 20px;
  padding: 7px 15px;
  font-size: 0.85rem;
  background-color: var(--blue);
  font-family: 'Avenir', sans-serif;
  transition: color 0.6s ease;
}
  
.btn:hover {
  /* box-shadow: 0 4px 8px rgba(242, 0, 255, 0.471); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 
              0 5px 10px rgba(130, 221, 240, 0.5); /* Light blue glow */
}

  