@import url('global.css');

#project-cards {
    padding-bottom: 4rem;
    scroll-margin-top: 100px;
}

#project-cards h1 {
    font-size: 3rem;
    margin-top: 1.3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    font-family: 'GizaStencil';
    color: var(--darkpurple);
}

.projects-grid {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; 
    /* padding: 2rem; */
}

/* -------------- */
.card {
    border: 1px solid var(--softgrey);
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px var(--softgrey);
    width: 325px;
    height: 450px;
    margin: 10px 10px;
}

.card:hover {
    /* transform: translateY(-5px); */
    box-shadow: 0 4px 8px rgba(255, 143, 177, 0.7);
    transform: scale(1.04);
    /* background-color: var(--pink); */
}

.card img, .card-disabled img {
    height: 250px;
    width: 100%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.card h2, .card-disabled h2 {
    font-size: 20px;
    margin: 10px 15px;
    text-decoration: none;
    color: var(--darkpurple);
}

.card p, .card-disabled p {
    font-size: 14px;
    color: #666;
    margin: 10px 15px;
    color: var(--darkgrey);
}

.card a, .card a:visited, .card-disabled a, .card-disabled a:visited {
    text-decoration: none;
    color: var(--black);
}

/* ------------- */
/* Disabled Card */
.card-disabled {
    /* background-color: #a5eddf; */
    border: 1px solid var(--softgrey);
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px var(--softgrey);
    width: 325px;
    height: 450px;
    margin: 10px 10px;
    pointer-events: none;   /* disable clicking */
}

.card-disabled img, .card-disabled .tags {
    pointer-events: none;   /* disable clicking */
    filter: blur(3px);      /* blur effect */
    opacity: 0.6;           /* reduce visibility */
}

/* ------------- */
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    padding: 10px;
}

.tags span {
    background-color: var(--blue);
    color: var(--black);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}


/* Responsive Styling */
@media (max-width: 768px) {
    .projects-grid {
        flex-direction: row; /* Stacks columns on smaller screens */
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

}