@import url('global.css');

body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
}
  
#skills-tools {
    padding: 40px;
    padding-bottom: 1.2em;
    background: var(--softlavender);
    scroll-margin-top: 100px;
}
  
#skills-tools h1 {
    font-size: 3em;
    margin-top: 1.2rem;
    /* margin-bottom: 1.2rem; */
    font-family: 'GizaStencil';
    color: var(--darkpurple);
}
  
/* Grid layout for icons */
#skills-tools #skills-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 40px;
    justify-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
  
#skills-tools #skills-grid .skill {
    text-align: center;
}

  
.skill img {
    width: 65px;
    height: 65px;
}
  
.skill img:hover {
    filter: none;
}
  
.skill p {
    margin-top: 10px;
    font-size: 14px;
}



@media only screen and (max-width: 1200px) {
    #skills-tools #skills-grid {
        grid-template-columns: repeat(8, 1fr); /* Show 4 items per row */
        gap: 10px;
    }
    .skill img {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width: 768px) {
    #skills-tools #skills-grid {
        grid-template-columns: repeat(5, 1fr); 
        gap: 25px;
        /* padding: 10px; */
    }

    .skill img {
        width: 30px;
        height: 30px;
    }
}
 
  